*{
    background-color: rgb(252, 240, 131);
}
h2{
    text-align: center;
}
th,td{
    border:1px solid gray;
    padding: 30px;
}
table{
    margin-left: 30%;
}
button{
    margin-top:30px;
    margin-left:30px;
    padding:10px;
    color:white;
    background-color: rgb(18, 112, 235);
}